@model SistemaDeProforma.AplicacionWeb.Models.ViewModels.VMPDFProforma;
@{
    Layout = null;
    string formattedNumber = int.Parse(@Model.proforma.NumeroProforma).ToString();
}



<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>IMSUMED_@Model.proforma.NumeroProforma - @Model.proforma.EtiquetaIms para @Model.proforma.RazonSocial</title>
    <style>

        header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 50px;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 60px;
            margin: 0px
        }

        prueba2 {
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
        }


        .part-left {
            color: #03002e;
            float: left;
        }

        .part-right {
            color: #03002e;
            float: right;
        }

        p.text {
            font-size: 13px;
            font-weight: 100;
            color: #010048;
            margin: 0px font-weight: bold;
        }

        p.np {
            font-weight: bold;
            text-align: right;
            font-size: 10px;
            color: #010048;
        }

        p.title-1 {
            font-weight: bold;
            color: #03002e;
        }

        table.tbproductos {
            border-collapse: separate;
            border-spacing: 4px;
        }

            table.tbproductos thead tr th {
                background-color: #318CE7;
                padding: 10px;
                font-size: 13px;
                color: white;
            }

        .sentences-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Adjust the minimum and maximum width values as needed */
            grid-gap: 1px; /* Adjust this value to set the vertical spacing between sentences */
            justify-content: left;
            align-items: left;
            margin-top: 20px; /* Adjust this value to set the distance between the sentences and the content above */
        }

        .grid-item {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }

        .prueba {
            position: relative;
            font-size: 12px;
            width: 60%;
        }

        .item {
            font-size: 13px;
            font-weight: 100;
            color: #03002e;
        }

        .item-2 {
            font-size: 13px;
            font-weight: bold;
            color: #03002e;
        }

        .item-3 {
            font-size: 13px;
            font-weight: bold;
            background-color: #318CE7;
            color: white;
        }

        .td-item {
            border-bottom: 2px solid #E8E8E8 !important;
        }

        .fondofalso {
            color: white;
        }
        body {
            font-family: "Century Gothic",Verdana,sans-serif;
        }

        main {
            padding-top: 70px; /* Add padding to the top of the main content to make space for the fixed header */
            padding-bottom: 70px; /* Add padding to the bottom of the main content to make space for the fixed footer */
        }

        .centrear {
            text-align: right;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <header>
        

    </header>
    <main>
        <!---Body content goes here--->


        <table style="width:100%">
            <tr>
                <td>
                    <img src="@Model.negocio.UrlLogo" style="width: 100%; height: 150px;" />
                </td>
            </tr>
        </table>
       
        <!----info del hopital--->
        <table style="width:100%">
            <tr>
                <td>
                    <table style="width:100%">

                        <tr>
                            <td>
                                <p class="part-left">Código de proforma:99_@formattedNumber I</p>
                            </td>
                            <td>
                                <p class="part-right">Fecha: @Model.proforma.FechaRegistro </p>
                            </td>
                        </tr>

                        <tr>
                            @if (Model.proforma.TipoProforma == "Contratación")
                            {
                                <p class="title-1 centrear">Código de Necesidad de Contratación: @Model.proforma.CodigoInfima</p>
                            }
                            else if (Model.proforma.TipoProforma == "General")
                            {
                                <p class="title-1 centrear">COTIZACIÓN DE MEDICAMENTOS</p>
                            }
                            else if (Model.proforma.TipoProforma == "Subasta")
                            {
                                <p class="title-1 centrear">Oferta Final del Proceso de Subasta</p>
                            }
                            else
                            {
                                <p class="title-1 centrear">Código de Necesidad de Infima Cuantía: @Model.proforma.CodigoInfima</p>
                            }
                            
                        </tr>

                     
                        <tr>
                            <td>
                                <p class="text">Razon Social: @Model.proforma.RazonSocial</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="text">Direccion: @Model.proforma.DireccionRS</p></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Canton: @Model.proforma.CantonRS</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="text">RUC: @Model.proforma.RucRS</p></td>
                        </tr>

                    </table>
                </td>

            </tr>
        </table>

      
        <tr>
            <td><p class="text">En respuesta a su solicitud, proformamos lo siguiente:</p></td>
        </tr>

        <table class="tbproductos" style="width:100%">

            <thead>
                <tr>
                    @if (Model.proforma.TipoProforma != "General" && Model.proforma.TipoProforma != "Subasta")
                    {
                    <th>CPC</th>
                    }
                    @if (Model.proforma.TipoProforma != "Infima Cuantia" && Model.proforma.TipoProforma != "Contratación")
                    {
                        <th>CUM</th>
                    }
                    <th>MEDICAMENTO</th>
                    <th>FORMA FARMACEUTICA Y CONCENTRACION</th>
                    <th>PRESENTACION</th>
                    <th>PRECIO UNITARIO</th>
                    <th>CANTIDAD</th>
                    <th>TOTAL</th>
                </tr>
            </thead>


            <tbody>
                @{
                    foreach (var item in Model.proforma.DetalleProductoProformas)
                    {
                        <tr>
                            @if (Model.proforma.TipoProforma != "General" && Model.proforma.TipoProforma != "Subasta")
                            {
                                <td class="td-item"><p class="item">@item.Cpc</p></td>
                            }
                            @if (Model.proforma.TipoProforma != "Infima Cuantia" && Model.proforma.TipoProforma != "Contratación")
                            {
                                <td class="td-item"><p class="item">@item.Cum</p></td>
                            }
                            
                            <td class="td-item"><p class="item">@item.Medicamento</p></td>
                            <td class="td-item"><p class="item">@item.Fc</p></td>
                            <td class="td-item"><p class="item">@item.Presentacion</p></td>
                            <td class="td-item"><p class="item">@item.PrecioIms</p></td>
                            <td class="td-item"><p class="item">@item.Cantidad</p></td>
                            <td class="td-item"><p class="item">@item.TotalUims</p></td>
                        </tr>

                    }
                }
                @if (Model.proforma.TipoProforma != "General" && Model.proforma.TipoProforma != "Subasta")
                {
                    <tr>
                        <td colspan="5" rowspan="3">
                        </td>
                        <td class="td-item">
                            <p class="item-2">SUB TOTAL</p>
                        </td>
                        <td class="td-item">
                            <p class="item"> @Model.proforma.SubtotalIms</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-item">
                            <p class="item-2">IVA</p>
                        </td>
                        <td class="td-item">
                            <p>@Model.proforma.IvaTotalIMS</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-item">
                            <p>TOTAL</p>
                        </td>
                        <td class="td-item">
                            <p>@Model.proforma.TotalIms</p>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="5" rowspan="3">
                        </td>
                        <td class="td-item">
                            <p class="item-2">SUB TOTAL</p>
                        </td>
                        <td class="td-item">
                            <p class="item-2"> @Model.proforma.SubtotalIms</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-item">
                            <p class="item-2">IVA</p>
                        </td>
                        <td class="td-item">
                            <p class ="item-2">@Model.proforma.IvaTotalIMS</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="item-2">
                            <p>TOTAL</p>
                        </td>
                        <td class="item">
                            <p class="item-2">@Model.proforma.TotalIms</p>
                        </td>
                    </tr>
                }


            </tbody>

            <table style="width:100%">
                <tr>
                <td><p class="fondofalso">Model.proforma.TipoProforma</p></td>
                </tr>
                <tr>
                    <p class="text">TIEMPO DE ENTREGA: @Model.proforma.TiempoEntregaIms</p>
                </tr>
                <tr>
                    <p class="text">FORMA DE PAGO: @Model.proforma.Fpago</p>
                </tr>
                <tr>
                    <p class="text">COTIZACIÓN VALIDA POR: @Model.proforma.Cvp</p>
                </tr>
                <tr>
                    <p class="text">GARANTÍA TÉCNICA: @Model.proforma.Gtecnica</p>
                </tr>
                <tr>
                    <p class="text">OBSERVACIÓN: @Model.proforma.Obervacion</p>
                </tr>
            </table>

        </table>

        <br />
        <table style="width:100%">
            <tr>
                <td>
                    <table>
                        <tr>
                            <p class="np" style="margin-bottom: 70px;">DE MIS CONSIDERACIONES</p>
                        </tr>
                        <tr>
                            <p class="np">WILLIAM SALAVARRIA AVILES PROPIETARIO</p>
                        </tr>
                        <tr>
                            <p class="np">@Model.negocio.Nombre.ToUpper() @Model.proforma.Usuario</p>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>


    </main>
    <footer>
        <!-- Left column content -->
        <div class="part-left">
            <p class="text">Telefono: @Model.negocio.Telefono</p>
            <p class="text">Direccion: @Model.negocio.Direccion</p>
        </div>

        <!-- Right column content -->
        <div class="part-right">
            <p class="text">Correo: @Model.negocio.Correo</p>
            <p class="text">@Model.negocio.NumeroDocumento - Ecuador</p>
        </div>
    </footer>
</body>

</html>

<script>
    
</script>
